
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
          <div class="card card-signup">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">bloodtype</i>
              </div>
          <h4 class="card-title" style="font-weight: bold;">Liste Reclmation Sang</h4>
            </div>
           <!--<button class=mat-raised-button class="btn btn-danger" type="submit" width="5">Rechercher</button>--> 
        <!-- <button type="button" class="btn btn-outline-danger">Donner</button>-->   
         
            <div class="card-body">
              <div class="card-body">
                <div class="table-responsive">
                <button type="button" class="btn btn-outline-danger btn-lg" (click)="onDonate()">Reclamer</button>

                <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher..." aria-label="Search">
      <button class=mat-raised-button class="btn btn-danger" type="submit">Rechercher</button>
    </form>
                    <table class="table">
                            <thead>
                                <tr>  
   <th class="text-center">Id</th>
                    <th class="text-center">Prénom</th>
                    <th class="text-center">Nom de Famille</th>
                    <th class="text-center">Rôle utilisateur</th> 
                    <th class="text-center">Adresse</th>
                    <th class="text-center">Téléphone</th> 
                    <th class="text-center">Date Donation</th>             
                    <th class="text-center">Groupe Sang</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
              <tr>       
                <td class="text-center" style="font-weight: bold;">
                 
                  </td>           
                            <td class="text-center">
                             
                            </td>
                          
                          <td class="text-center">
                            
                          
                          </td>
                            <td class="text-center">
                            
                             
                            </td>
                            <td class="text-center">
                             
                              
                            </td>
                            <td class="text-center">
                           
                            </td>
                            <td class="text-center" style="color: chartreuse;">
                          
                            </td>
                            <td class="td-actions text-right">
                           
                              <button mat-raised-button type="button" class="btn btn-success">
                                  <i class="material-icons">edit</i>
                              </button>
                              <button mat-raised-button type="button" class="btn btn-danger">
                                  <i class="material-icons">close</i>
                              </button>
                           </td>
                           
                           
                      </tr>
                      </tbody>
                     
                    </table>

                  
              
                    </div></div>
                    
   </div></div></div></div></div></div>
       </div>
<footer>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:#cc0000;">
      
      <a class="text-white">© 2021 Be Helpful <i class="material-icons">favorite</i> par
        <a href="https://www.creative-tim.com" target="_blank">Senda Khelil & Amal Mejri</a>pour un meilleur web.</a>
    </div>
    <!-- Copyright -->
    </footer>