<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
            <div class="card card-signup">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title" style="font-weight: bold;">Gestion des publications de Matériel Médical/paramédical</h4>
              </div>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher..." aria-label="Search">
                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                  </button>
              </form>
            <!-- <div class="input-group rounded" width="15px">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                  aria-describedby="search-addon" />
                  <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                  </button>
              </div>-->
             
              <div class="card-body">
                <div class="card-body">
                  <div class="table-responsive">
                      <table class="table">
                              <thead>
                                  <tr>  
                    <th class="text-center">Id</th>
                    <th class="text-center">Rôle Utilisateur</th>
                    <th class="text-center">Prenom</th>
                    <th class="text-center">Nom de famille</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Type Matériel</th>
                    <th class="text-center">Adresse</th>
                    <th class="text-center">Téléphone</th>           
                    <th class="text-center">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                <tr>       
                  <td class="text-center" style="font-weight: bold;">
                       
                    </td>           
                    <td class="text-center">
                    
                    </td>
                  
                    <td class="text-center">
                    
                    </td>
                    <td class="text-center">
                    
                    </td>
                              <td class="text-center">
                                
                              </td>
                            
                            <td class="text-center">
                            
                            </td>
                              <td class="text-center">
                            
                              </td>
                              <td class="text-center">
                              
                              </td>
                              <td class="td-actions text-center">
                                <button mat-raised-button type="button" class="btn btn-info">
                                    <i class="material-icons">check</i>
                                </button>
                             
                                <button mat-raised-button type="button" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                </button>
                             </td>
                        </tr>
                      </tbody>
                       
                  </table>
                      
                      <div class="btn-group" data-toggle="buttons">
                        <button mat-raised-button type="button" class="btn btn-round btn-danger">1</button>
                        <button mat-raised-button type="button" class="btn btn-round btn-danger">2</button>
                        <button mat-raised-button type="button" class="btn btn-round btn-danger">3</button>
                     
                      </div>
                
                      </div></div>
                      
     </div></div></div></div></div></div>
         </div>
  