
<div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-rose card-header-text">
        <div class="card-text">
          <h4 class="card-title"> <i class="material-icons">bloodtype</i>Donation Sang</h4>
        </div>
      </div>
      <div class="card-body ">
        <form method="get" action="/" class="form-horizontal">
          <div class="row">
            <label class="col-sm-2 col-form-label">Prenom :</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <input matInput type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 col-form-label">Nom :</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <input matInput type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 col-form-label">Age :</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <input matInput type="number">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 col-form-label">Email :</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <input matInput type="email">
              </mat-form-field>
            </div>
          </div>
         

       
          <div class="row">

            <label class="col-sm-2 col-form-label">Groupe Sang</label>
            <div class="col-sm-10 checkbox-radios">
              <br>
              <mat-radio-button value="1">A+</mat-radio-button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="2">A-</mat-radio-button>
              <br>
              <mat-radio-button value="1">B+</mat-radio-button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="2">B-</mat-radio-button>
              <br>
              <mat-radio-button value="1">AB+</mat-radio-button>
              &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
              
              <mat-radio-button value="2">AB-</mat-radio-button>
              <br>
              <mat-radio-button value="1">O+</mat-radio-button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="2">O-</mat-radio-button>

            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 col-form-label">Adresse :</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <input matInput type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 col-form-label"> :</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <input matInput type="text">
              </mat-form-field>
            </div>
          </div>
          
<mat-form-field appearance="fill">
    <mat-label>role utilisateur</mat-label>
    <mat-select name ="role" >
      <mat-option [value]="1" >
        Benevole
      </mat-option>
          <mat-option [value]="2">
        Bénéficiaire
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
          <button type="button" class="btn btn-outline-success" width="50px">Ajouter don</button>
          <a href="" class="btn btn-outline-success" data-toggle="modal" data-target="#orangeModalSubscription">Modifier don</a>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
            <div class="modal-dialog modal-notify modal-warning" role="document">
              <!--Content-->
              <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                  <h4 class="modal-title white-text w-100 font-weight-bold py-2"><i class="material-icons">bloodtype</i>Donation Sang</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                  </button>
                </div>
          
                <!--Body-->
                <div class="modal-body">
                  <div class="md-form mb-5">
                    <i class="material-icons">face</i>
                    <input type="text" id="form3" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form3">Prenom</label>
                  </div>
                  <div class="md-form mb-5">
                    <i class="material-icons">face</i>
                    <input type="text" id="form3" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form3">Nom</label>
                  </div>
                  <div class="md-form mb-5">
                    <i class="material-icons">font_download</i>
                    <input type="text" id="form3" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form3">Age</label>
                  </div>
                  <div class="md-form mb-5">
                    <i class="material-icons">email</i>
                    <input type="text" id="form3" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form3">Email</label>
                  </div>
                  <div class="md-form mb-5">
                    <i class="material-icons">phone</i>
                    <input type="text" id="form3" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form3">Telephone</label>
                  </div>
                  <div class="row">

                    <div class="col-sm-10 checkbox-radios">
                      <i class="material-icons">bloodtype</i>

                      <br>
                      <mat-radio-button value="1">A+</mat-radio-button>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-radio-button value="2">A-</mat-radio-button>
                      <br>
                      <mat-radio-button value="1">B+</mat-radio-button>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-radio-button value="2">B-</mat-radio-button>
                      <br>
                      <mat-radio-button value="1">AB+</mat-radio-button>
                      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-radio-button value="2">AB-</mat-radio-button>
                      <br>
                      <mat-radio-button value="1">O+</mat-radio-button>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-radio-button value="2">O-</mat-radio-button>
        
                    </div>
                  </div>
                  <div class="md-form mb-5">
                    <i class="material-icons">place</i>
                    <input type="text" id="form3" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form3">Adresse</label>
                  </div>
                  <i class="material-icons">people_alt</i>
                  <mat-form-field appearance="fill">
                    <mat-label>role </mat-label>
                    <mat-select name ="role" #role="ngModel" ngModel  [ngModelOptions]="{standalone: true}">
                      <mat-option [value]="1" >
                        Benevole
                      </mat-option>
                          <mat-option [value]="2">
                        Bénéficiaire
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
          
                  
                </div>
          
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                  <button type="submit" class="btn btn-outline-success">Valider</button> 
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>







        </form>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
