<nav class="nav nav-pills" style="background-color:#cc0000;">
    <a class="navbar-brand d-none d-sm-none d-md-block" href="#">  <img src="/assets/img/need.png" width="100 px"> </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="nav-link" routerLinkActive="active" style="color:#ffffff;"href="#"> <i class="material-icons">home</i>&nbsp;&nbsp;Accueil</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="nav-link" style="color:#ffffff;" href="#"> <i class="material-icons">
        supervisor_account</i>&nbsp;&nbsp;Profil</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     
   <form class="form-inline my-2 my-lg-0">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a class="nav-link" style="color:#ffffff;" href="#">{{user}}</a>
     <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link"><br>
          <i class="material-icons">
            person_off</i>
            <a class="sidebar-normal" (click)="logout()">Déconnexion</a>
            <span class="sidebar-normal"></span>
        </a>
    </li></form>
  </nav>