<div class="wrapper wrapper-full-page">
  <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Liste des Utilisateurs</h2>
            <div class="card-body">
              <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                            <thead>
                                <tr>
                  <th class="text-center">Nom:</th>
                  <th class="text-center">Email :</th>
                  <th class="text-center">Téléphone :</th>
                  <th class="text-center">Mot de passe :</th>
                </tr>
                </thead>
                <tbody>
              <tr *ngFor="let user of users">
             
                      
                           
                            <td class="text-center">
                              {{user.First_Name}}
                            </td>
                            <td class="text-center">
                              {{user.Email}}
                            </td>
                        
                          
                            <td class="text-center">
                              {{user.Phone_Number}}
                            </td>
                            <td class="text-center" style="color: blue;">
                              {{user.Password}}
                            </td>
                           
                      </tr>
                      </tbody>
                    </table>
                    </div></div>
   </div></div></div></div></div></div></div>
