
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
          <div class="card card-signup">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">bloodtype</i>
              </div>
          <h4 class="card-title" style="font-weight: bold;">Liste Donneur Sang</h4>
            </div>
           <!--<button class=mat-raised-button class="btn btn-danger" type="submit" width="5">Rechercher</button>--> 
        <!-- <button type="button" class="btn btn-outline-danger">Donner</button>-->   
         
            <div class="card-body">
              <div class="card-body">
                <div class="table-responsive">
                <button type="button" routerLink="/donate/donatesang" routerLinkActive="active"  class="btn btn-outline-danger btn-lg" (click)="onDonate()">Donner</button>

                <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher..." aria-label="Search">
      <button class=mat-raised-button class="btn btn-danger" type="submit">Rechercher</button>
    </form>
                    <table class="table">
                            <thead>
                                <tr>  
   <th class="text-center">Id</th>
                    <th class="text-center">Prénom</th>
                    <th class="text-center">Nom de Famille</th>
                    <th class="text-center">Rôle utilisateur</th> 
                    <th class="text-center">Adresse</th>
                    <th class="text-center">Téléphone</th> 
                    <th class="text-center">Age</th>             
                    <th class="text-center">Groupe Sang</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
              <tr>       
                <td class="text-center" style="font-weight: bold;">
                 
                  </td>           
                            <td class="text-center">
                             
                            </td>
                            <td class="text-center">
                             
                            </td>
                            <td class="text-center">
                             
                            </td>
                          
                          <td class="text-center">
                            
                          
                          </td>
                            <td class="text-center">
                            
                             
                            </td>
                            <td class="text-center">
                             
                              
                            </td>
                            <td class="text-center">
                           
                            </td>
                            <td class="text-center" style="color: chartreuse;">
                          
                            </td>
                            <td class="td-actions text-right">
                             
                              
                            <a href="" data-toggle="modal" class="btn btn-success" data-target="#orangeModalSubscription"> <i class="material-icons">edit</i>
                            </a>

                           <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
                            <div class="modal-dialog modal-notify modal-warning" role="document">
                              <!--Content-->
                              <div class="modal-content">
                                <!--Header-->
                                <div class="modal-header text-center">
                                  <h4 class="modal-title white-text w-100 font-weight-bold py-2"><i class="material-icons">bloodtype</i>Donation Sang</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                  </button>
                                </div>
                          
                                <!--Body-->
                                <div class="modal-body">
                                  <div class="md-form mb-5">
                                    <i class="material-icons">face</i>
                                    <input type="text" id="form3" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="form3">Prenom</label>
                                  </div>
                                  <div class="md-form mb-5">
                                    <i class="material-icons">face</i>
                                    <input type="text" id="form3" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="form3">Nom</label>
                                  </div>
                                  <div class="md-form mb-5">
                                    <i class="material-icons">font_download</i>
                                    <input type="text" id="form3" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="form3">Age</label>
                                  </div>
                                  <div class="md-form mb-5">
                                    <i class="material-icons">email</i>
                                    <input type="text" id="form3" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="form3">Email</label>
                                  </div>
                                  <div class="md-form mb-5">
                                    <i class="material-icons">phone</i>
                                    <input type="text" id="form3" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="form3">Telephone</label>
                                  </div>
                                  <div class="row">
                
                                    <div class="col-sm-10 checkbox-radios">
                                      <i class="material-icons">bloodtype</i>
                
                                      <br>
                                      <mat-radio-button value="1">A+</mat-radio-button>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <mat-radio-button value="2">A-</mat-radio-button>
                                      <br>
                                      <mat-radio-button value="1">B+</mat-radio-button>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <mat-radio-button value="2">B-</mat-radio-button>
                                      <br>
                                      <mat-radio-button value="1">AB+</mat-radio-button>
                                      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                      <mat-radio-button value="2">AB-</mat-radio-button>
                                      <br>
                                      <mat-radio-button value="1">O+</mat-radio-button>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <mat-radio-button value="2">O-</mat-radio-button>
                        
                                    </div>
                                  </div>
                                  <div class="md-form mb-5">
                                    <i class="material-icons">place</i>
                                    <input type="text" id="form3" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="form3">Adresse</label>
                                  </div>
                                  <i class="material-icons">people_alt</i>
                                  <mat-form-field appearance="fill">
                                    <mat-label>role </mat-label>
                                    <mat-select name ="role" #role="ngModel" ngModel  [ngModelOptions]="{standalone: true}">
                                      <mat-option [value]="1" >
                                        Benevole
                                      </mat-option>
                                          <mat-option [value]="2">
                                        Bénéficiaire
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                          
                                  
                                </div>
                          
                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                  <button type="submit" class="btn btn-outline-success">Valider</button> 
                                </div>
                              </div>
                              <!--/.Content-->
                            </div>
                          </div>


                              <button mat-raised-button type="button" class="btn btn-danger">
                                  <i class="material-icons">close</i>
                              </button>
                           </td>
                           
                           
                      </tr>
                      </tbody>
                     
                    </table>

                  
              
                    </div></div>
                    
   </div></div></div></div></div></div>
       </div>
       <router-outlet></router-outlet>
